<nav class="nav">
  <a href="/">Home</a>
  <a href="/comments">Comments</a>

  {{#if currentUser}}
    <a href="/comment/new">Post</a>
    <span class="nav-user">Hello, {{currentUser.username}}</span>
    <form action="/logout" method="POST" class="inline-form">
      <button type="submit">Logout</button>
    </form>
  {{else}}
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  {{/if}}
</nav>
