<h1>Post</h1>

{{#if error}}<p class="error">{{error}}</p>{{/if}}

<form action="/comment" method="POST">
  <label>Comment
    <textarea name="text" rows="1"></textarea>
  </label>
  <button type="submit">Post Comment</button>
</form>
